body{
    background-color: #202e37;
    overflow: hidden;
}
h1{
    color: white;
    text-align: center;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#p1{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -38px;
}
table{
    margin: auto;
    border-spacing: 6px;
}
#amarelo{
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(120deg, #ecf8ae, #c6cc3c);
    background-image: linear-gradient(120deg, #ecf8ae, #c6cc3c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    vertical-align: bottom;
    text-indent: 10px; 
    text-align: left;
    
}
#azul{
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(120deg, #43c5d6, #5d90e1);
    background-image: linear-gradient(120deg, #43c5d6, #5d90e1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    vertical-align: bottom;
    text-indent: 10px;
    text-align: left;
    
}
#verde{
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(120deg, #5aad33, #a5d97a);
    background-image: linear-gradient(120deg, #5aad33, #a5d97a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    vertical-align: bottom;
    text-indent: 10px;
    text-align: left;

}
#vermelho{
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(120deg, #f46b71, #febc82);
    background-image: linear-gradient(120deg, #f46b71, #febc82);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    vertical-align: bottom;
    text-indent: 10px;
    text-align: left;
    
}
td,th,tr{
    width: 80px;
    height: 80px;

    font-size: 32px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

    margin-top: -2px;
    vertical-align: bottom;
    text-align: left;
}
#div1{
    position: relative;
    margin: auto;
    right: 270px;
    top: 20px;

    width: 1px;
    padding: 10px;
    height: 1px;
    background-image: linear-gradient(140deg, #ecf8ae 10%, #c6cc3c);
}
#div2{
    position: relative;
    margin: auto;
    right: 138px;
    bottom: 1px;

    width: 1px;
    padding: 10px;
    height: 1px;
    background-image: linear-gradient(140deg, #5aad33, #a5d97a);
}
#div3{
    position: relative;
    margin: auto;
    right: 1px;
    bottom: 22px;

    width: 1px;
    padding: 10px;
    height: 1px;
    background-image: linear-gradient(120deg, #43c5d6, #5d90e1);
}
#div4{
    position: relative;
    margin: auto;
    left: 175px;
    bottom: 43px;

    width: 1px;
    padding: 10px;
    height: 1px;
    background-image: linear-gradient(120deg, #f46b71, #febc82);
}
#par1{
    opacity: 75%;
    position: relative;
    text-align: center;
    right: 215px;
    bottom: 62px;
    
    margin: auto;
    font-size: 14px;
    
    color: white;
}
#par2{
    opacity: 75%;
    position: relative;
    text-align: center;
    right: 82px;
    bottom: 79px;

    margin: auto;
    font-size: 14px;
    
    color: white;
}
#par3{
    opacity: 75%;
    position: relative;
    text-align: center;
    left: 80px;
    bottom: 97px;

    margin: auto;
    font-size: 14px;
    
    color: white;
}
#par4{
    opacity: 75%;
    position: relative;
    text-align: center;
    left: 219px;
    bottom: 114px;

    margin: auto;
    font-size: 14px;
    
    color: white;
}
#par5{
    opacity: 75%;
    position: relative;
    text-align: center;
    right: 114px;
    bottom: 90px;

    margin: auto;
    font-size: 14px;
    
    color: white;
}
#par6{
    opacity: 75%;
    position: relative;
    text-align: center;
    left: 98px;
    bottom: 109px;

    margin: auto;
    font-size: 14px;
    
    color: white;
}